@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Open+Sans:wght@400&family=Lato:wght@400&family=Raleway:wght@400&family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Source+Sans+Pro:wght@400&family=Muli:wght@400&family=Comfortaa:wght@400&family=Quicksand:wght@400&display=swap');



html {
    scroll-behavior: smooth;
}


body{
    margin: 0;
    position: relative;
    background-color: #a5d6a7;
    animation: slideIn 2s;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.my-portfolio{
    background-color: #4B4B4B;
    height: 100px;
}

.my-portfolio h3{
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

.introduction{
    background-color: #b2dfb2;
    border-radius: 5px;
    position: relative;
    margin: 50px 200px 50px 200px;
    height: 300px;
    box-shadow: 5px 5px 20px #888888;
    display: flex;
    justify-content: center;
}

.introduction > .name{
    color: black;
    font-size: 25px;
    position: absolute;
    margin: 220px 20px 30px 10px;
}

.introduction img{
    height: 200px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
}

.introduction > .intro{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    position: absolute;
    margin: 255px 20px 30px 10px;
}

.about-me h3{
    font-family: "Montserrat", sans-serif ;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.about-me > .tab{
    height: 130px !important;
    margin: 30px 200px !important;
}

.about-me p{
    font-family: "Poppins", sans-serif ;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    padding-bottom: 0px;
}


.head{
    position: absolute;
    right: 5px;
    top: 50px;
}

.head li{
    display: inline-block;
    font-size:16px;
    margin-right: 20px;
    background-color: lightgray;
    border-radius: 10px;
    padding:0px 10px;
    transition: 0.3s;
}

.head li:hover{
    background-color: #b0b0b0;
    transform: scale(1.1) ;
}

.head li a{
    font-family: "poppins", sans-serif ;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.skills h3{
    font-family: "Montserrat", sans-serif ;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    margin:0;
}

.projects h3{
    font-family: "Montserrat", sans-serif ;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    margin:0;
}

.projects > .tables > .tab{
    height: 250px !important;
    margin: 30px 40px !important;
}

.tab h5{
    font-family:"Nunito", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    margin: 10px 10px 0px 10px;
}

.tables{
    display: flex;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
}


.tab{
    background-color: #b2dfb2;
    border-radius: 5px;
    margin: 30px 20px 30px 20px;
    padding: 10px 10px;
    height: 200px;
    box-shadow: 5px 5px 20px #888888;
}

.tab p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.tab li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}



.contact{
    margin-top: 50px;
    display: flex;
    height: 100px;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

.LinkedIn img{
    width:auto;
    height: 30px;
    transition: 0.5s;
}

.LinkedIn img:hover{
    transform: scale(1.1);
}

.Email img{
    width:auto;
    height: 55px;
    margin-bottom:6px;
    transition: 0.5s;
}

.Email img:hover{
    transform: scale(1.1);
}


.GitHub img{
    width:auto;
    height: 40px;
    margin-bottom:8px;
    transition: 0.5s;
}

.GitHub img:hover{
    transform: scale(1.1);
}

footer {
    background-color: #333;
    height: 20px;
    margin-bottom: 20px;
}

footer p{
    text-align: center;
    color: white;
}





